<!doctype html>
<html ng-app="ticTacToeApp">
  <head>
    <title>Planets!</title>
    <link rel="stylesheet" href="css/style.css">
    
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    <div ng-controller="TicTacToeController" id="container">
        
        <div ng-repeat="cell in cells track by $index" 
             ng-class="{
            cell:true, clear: ($index%3 == 0 ),
            rightLine: ( $index % 3 != 2 ),
            bottomLine: ($index <= 5) }"
            ng-click="cell='X';"            
        >{{ cell }}</div>            
        
      <h1>TIC! TAC! TOE!</h1>
        <!--
        <ul>
            <li ng-repeat="planet in planets | orderBy:'name'">
                {{planet.name}},{{planet.diameter}},{{planet.distSun}}
            </li>
        </ul>
        -->
    </div>
  </body>
</html>
