
html { 
  background: url("../img/nebula.jpg") no-repeat center center fixed; 
  background-size: cover;
}

h1 {
	opacity: 0.6;
	color: #ffffff;
	text-align: center;
	font-family: swfont,Garamond, serif;
	font-weight: bold;
	font-size: 40px;
    margin: 0px 0px;
}

@font-face {
    font-family: swfont;
    src: url("font/Starjout.ttf");
}


.row {
	width: 50%;
	margin: 0 auto;
}

.cell {
	display: inline-block;
	font-size: 50px;
  font-family: helvetica;
  text-align: center;
	/* margin-left: -5px; */
}

.xmark {

  background-image: url("../img/skywalker.jpg");
  background-size: 100% 100%;
    
  background-color: black;
  color: white;
}

.omark {
  background-image: url("../img/vader.jpg");
  background-size: 100% 100%;
    
  background-color: white;
  color: black;
}